extends layout

block content
  h1= title
  - var results = [{"Func_Name": "Parse", "Func_Type": "Reusable", "Func_Lines": 860, "Func_Language": "Java"},{"Func_Name": "Login", "Func_Type": "Authentication", "Func_Lines": 2350, "Func_Language": "Python"},{"Func_Name": "Validate", "Func_Type": "Testing", "Func_Lines": 920, "Func_Language": "c++"}]
  div.container-fluid
    div.row
        each item in results
            div.col-sm-2 Function Name: #{item["Func_Name"]} <br> Function Type: #{item["Func_Type"]} <br> Function Lines: #{item["Func_Lines"]} <br> Function Language: #{item["Func_Language"]} <br>

            

  